//1.2 colors


//1.1 fonts

$lato: "lato";

// 1.2.1 main colors
$bg-body-color: #f0f3f4;
$bg-box-color: #ffffff;
$main-color: #333;
$button-font: #ffffff;

// 1.2.2 button colors :
$btn1-color: #0072bc;
$btn2-color: #8bc34a;
$btn3-color: #ffc700;
$btn4-color: #0072bc;
$btn5-color: #8bc34a;
$btn6-color: #a767dd;
$btn7-color: #00aeef;
$btn8-color: #ed4e83;
$btn9-color: #1d89cf;

// 1.2.3  icon colors  :

$rating-icon: #ffc700;
